// Override default variables before the import
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import '~bootstrap/scss/bootstrap.scss';

html,body{
    height: 100%;
    width: 100%;
}

body {
    display: flex;
}
* {
  color: #fff;
  font-size: 'Open Sans', sans-serif;
}
.app {
    background-color: #343541;
    display: flex;

}

.side-bar {
background-color: #202123;
height: 100%;
max-width: 14rem !important;
justify-content: space-between;
align-items: center;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    .bottom-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input-container {
        position: relative;
        width: 100%;
        max-width: 80%;
        textarea {
            width: 100%;
            max-height: 200px;
            min-height: 40px;
            height: auto;
            background-color: rgba(255,255,255,0.05);
            border: none;
            resize: 'none';
            padding: 1rem 3.5rem 1rem 1rem;
            overflow-y: hidden;
            border-radius: 5px;
            box-shadow: 
            rgba(0, 0, 0, 0.5) 0 54px 55px,
            rgba(0, 0, 0, 0.5) 0 12px 30px,
            rgba(0, 0, 0, 0.5) 0 4px 6px,
            rgba(0, 0, 0, 0.5) 0 12px 3px,
            rgba(0, 0, 0, 0.5) 0 3px 5px;
            
            
         &:focus{
            outline: none;
         }   
        }
        .submit-icon{
            top: 5%;
            position: absolute;
            left: 93%;
            up: 5rem;
            down: 5rem;
            bottom: 55%;
            font-size: 2rem;
          
        }
    }

}


// Use on `li`s or `div`s within the `.list-group` parent.

.list-group{
    // height: 80rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.list-group-item {
    position: relative;
    list-style-type: none;
    display: block;
    color: white;
    border: none;
    padding: .35rem;
    width: 80%;
    background-color: #202123;
    text-align: start;
  }
  

.info{
    color: rgb(255,255,255,0.5);
    font-size:.8rem;
    padding: 1rem;

}

.chatContainer{
    margin-top: 1rem !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feed{
    overflow: auto;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nameTitle{
    margin-top: 25rem;
}
// Import Bootstrap and its default variables